@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}
:root {
  font-family: 'Kodchasan', sans-serif;
  --nord0: #2E3440;
  --nord1: #3B4252;
  --nord2: #434C5E;
  --nord3: #4C566A;
  --text0: #ECEFF4;
  --text1: #E5E9F0;
  --text2: #D8DEE9;
  --frost2: #5E81AC;
  --frost1: #81A1C1;
  --frost0: #88C0D0;
  color: var(--text0);
  background-color: var(--nord0);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
